/*
.test{
    margin: auto;  Format: y, x; 
    margin-top: 36px;
    padding: 0px;
    max-width:1250px;
}
*/



/*          SECTION ----- Fonts          */

@font-face {
    font-family: 'Andale Mono';
    src: url('../font/AndaleMono.woff2') format('woff2'),
        url('../font/AndaleMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GT America';
    src: url('../font/GTAmerica-Regular.woff2') format('woff2'),
        url('../font/GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('../font/MabryPro-Regular.woff2') format('woff2'),
        url('../font/MabryPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/HelveticaNeue.woff2') format('woff2'),
        url('../font/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Migra';
    src: url('../font/MigraItalic-ExtralightItalic.woff2') format('woff2'),
        url('../font/MigraItalic-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sharp Grotesk';
    src: url('../font/SharpGrotesk-Bold20.woff2') format('woff2'),
        url('../font/SharpGrotesk-Bold20.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: normal;
}

@font-face {
    font-family: 'Untitled Serif';
    src: url('../font/UntitledSerif-Medium.woff2') format('woff2'),
        url('../font/UntitledSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: normal;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('../font/UntitledSans-Regular.woff2') format('woff2'),
        url('../font/UntitledSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*          SECTION ----- HTML Elements          */

body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'cursive'; /* As a test */
}

/*          SECTION ----- Animations          */

@keyframes workOn {
    0%   {background-color: black}
    100% {background-color: white}
}

/*          SECTION ----- Custom: Home Page          */

.homeContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    margin-top: 36px;
    padding: 0px;
    max-width:1250px;
}

.homeContainer:after {
  content: "";
  display: table;
  clear: both;
}

.aboutMe{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 48px;
    padding-right: 48px;
    max-width:800px;
    float: left;

    font-family: 'Mabry Pro';
    font-size: 48px; /* SKETCH */
    line-height: 1.22; /* SKETCH */
    font-weight: normal;
    font-style: normal;
}


.buttons{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 48px;
    padding-right: 48px;
    max-width:1400px;
    float:left;
}

.pillButton{
    padding: 32px 56px; /* Around the text */
    margin-top: 36px; /* Around the button */
    margin-left: -20px;
    margin-right: 40px;
    border-radius: 1600px;

    background-color: #ffffff;
    border-style: solid;
    border-color: black;
    border-width: 3px;

    color: black; /* THIS IS THE TEXT COLOR */
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 64px;

    display: inline-block;

    cursor: pointer; 
}

.pillButton:hover{
    background-color: #000000;
    border-width: 3px;

    color: white; /* THIS IS THE TEXT COLOR */

    cursor: pointer;
}

.projectFooter{
    /* background-color: red; */
    position:fixed;
    padding-left: 48px;
    padding-right: 48px;
    bottom: 48px;
    max-width:800px;
    float: left;

    font-family: 'GT America';
    font-size: 24px; /* SKETCH */
    line-height: 29px; /* SKETCH */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.projectFooter a{
    text-decoration: none;
    color:black;
}

.projectFooter a:hover{
    text-decoration: underline;
}




.smiley{
    font-size: 1em;
    text-align: center;

    display: inline-block;
    width: 40px;
}

.subtitle{
    font-family: 'Mabry Pro';
    font-size: .65em; /* SKETCH */
    line-height: 2; /* SKETCH */
    letter-spacing: 0.015em;
}

/*          SECTION ----- Custom: Home Page          */

.workContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    margin-top: 40px;
    padding: 0px;
    max-width:1250px;
 /*   position: absolute; */
}

.workContainer:after {
  content: "";
  display: table;
  clear: both;
}

/*          SECTION ----- Custom: Work          */

.homeButton{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 52px;
    padding-right: 48px;
    max-width: 800px;
    float: left;

    font-size: 64px; /* SKETCH */
    line-height: 44px; /* SKETCH */

    font-family: 'Andale Mono';
    font-weight: normal;
    font-style: normal;

}

.homeButton:hover{
    cursor: pointer;
}

.homeButton:after {
  content: "";
  display: table;
  clear: both;
}

.menuProjects{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 900px;
    float: left;

    margin-top: 20px;
    margin-bottom: 40px;
}

.singleProject{
    /* background-color: blue; */
    margin-bottom: 34px;
}

.menuProjects a{
    text-decoration: none;
}

.singleProject:hover .menuProjectsTitle{
    text-decoration: underline;
}

.singleProject:hover .menuProjectsDescription{
    color:black;
}

.menuProjectsTitle{
    font-family: 'Mabry Pro';
    font-size: 48px; /* SKETCH */
    line-height: 64px; /* SKETCH */
    font-weight: normal;
    font-style: normal;

    color: black;
}

.menuProjectsDescription{
    font-family: 'GT America';
    font-size: 24px; /* SKETCH */
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #8B8B8B;
}

/*          SECTION ----- Custom: Project Pages         */

.projectContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    margin-top: 40px;
    padding: 0px;
    max-width:1250px;

    background-color: black;
    color: white;
 /*   position: absolute; */

}

.projectContainer:after {
  content: "";
  display: table;
  clear: both;
}


.contactMe{
    font-family: 'GT America';
    font-size: 10px; /* SKETCH */
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #8B8B8B;
    background-color: red;

    text-align: right;
    bottom: 0;
    right:0;
}


.projectTitle{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 900px;
    float: left;

    font-family: 'Mabry Pro';
    font-size: 118px; /* SKETCH */
    line-height: 142px; /* SKETCH */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    margin-top: 20px;
}

video{
    width: 100%;
    height: 100%;
    margin-bottom: 78px;
    margin-top: 86px;

    background: #3C3C3C;
    -webkit-animation: videoLoad 4s infinite;
    -moz-animation: videoLoad 4s infinite;
    animation: videoLoad 4s infinite;
}

@keyframes videoLoad{
    0% { background: #3C3C3C; }
    50% { background: #1F1F1F; }
    99% { background: #3C3C3C; }
}

.projectContent{
    margin: auto;
    padding-left: 48px;
    padding-right: 48px;
    font-family: 'GT America';
    font-size: 48px; /* SKETCH */
    line-height: 64px; /* SKETCH */
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    max-width: 700px;
}

.projectContent a{
    color:white;
}

.projectContent a:active{
    text-decoration: underline;
}

.projectContent a:hover{
    text-decoration: underline;
}


.bottomPills{
    margin: auto;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 128px;
    padding-bottom: 200px;
}

.bottomPills a{
    text-decoration: none;
}

.pillButtonBottom{
    padding: 32px 56px; /* Around the text */
    margin-top: 36px; /* Around the button */
    margin-left: 0px;
    margin-right: 26px;
    border-radius: 1600px;

    background-color: #000000;
    border-style: solid;
    border-color: white;
    border-width: 3px;

    color: white; /* THIS IS THE TEXT COLOR */
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-size: 64px;

    display: inline-block;

    cursor: pointer; 
}

.pillButtonBottom:hover{
    background-color: #FFFFFF;
    border-color: black;
    border-width: 3px;

    color: black; /* THIS IS THE TEXT COLOR */

    cursor: pointer;
}


/*          SECTION ----- Custom: New         */

.bkg-lightBeige{
    background-color: #FFFFF8;
}

.newHeaderContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    padding: 0px;
    padding-top: 40px;
    max-width:1230px;
    /* background-color: brown; */
    padding-left: 48px;
    padding-right: 48px;
}

.newHeaderContainer:after {
  content: "";
  display: table;
  clear: both;
}

.newCaption{
    /* background-color: blue; */
    margin: auto;
    padding: 0px;
    max-width:772px;
    float: left;

    font-family: 'Untitled Serif';
    font-size: 32px; /* SKETCH */
    font-weight: 500;
    letter-spacing: .32px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: #1A2318;
}


.newSubCaption{
    /* background-color: blue; */
    margin: auto;
    margin-top: 20px;
    padding: 0px;
    max-width: 690px;
    float: left;

    font-family: 'Untitled Sans';
    font-size: 20px; /* SKETCH */
    letter-spacing: .12px;
    line-height: 1.37; /* SKETCH */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: #182418;
}

.newHeroContainer{
    /* background-color: green; */
    margin: auto; /* Format: y, x; */
    padding: 0px;
    padding-top: 28px;
    padding-bottom: 32px;
    max-width:1230px;
    padding-left: 48px;
    padding-right: 48px;
}

.newHeroContainer:after {
  content: "";
  display: table;
  clear: both;
}

.newVideoWrapper{
    /* background-color: green; */
    padding: 0px;
    max-width:840px;
    /* background-color: blue; */
    color: white;
    float: left;
 /*   position: absolute; */
}

.newVideoWrapper video{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;

    background: #D0C4BC;
    -webkit-animation: videoLoad 4s infinite;
    -moz-animation: videoLoad 4s infinite;
    animation: videoLoad 4s infinite;

    box-shadow: 0 0px 8px 0 rgba(208, 196, 188, 0.2), 0 0px 20px 0 rgba(208, 196, 188, 0.19);
}

.bkg-darkGrey{
    background-color: #262525;
}

.newProjectsContainer{
    margin: auto; /* Format: y, x; */
    padding: 0px;
    padding-top: 20px;
    max-width:1230px;
    /* background-color: brown; */
    padding-left: 48px;
    padding-right: 48px;
}

.newProjectsHeading{
    text-align: center;
    /* background-color: grey; */
    padding-top: 32px;
    padding-bottom: -6px;

    font-family: 'Untitled Sans';
    font-size: 16px; /* SKETCH */
    letter-spacing: 0.01px;
    line-height: 1.625; /* SKETCH */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: #BEBEBE;
}

@media only screen and (max-width: 1325px) {
  .newProjectsHeading {
    text-align: left;
  }
}

.twoPanel{
    max-width:1230px;
    text-align: top;
}

.twoPanel:after {
  content: "";
  display: table;
  clear: both;
}

.panel1{
    display: inline-block;
    width:547px;
    /* background-color: blue; */
}

.panelSpacer{
    display: inline-block;
    width:128px;
    /* background-color: green; */
}

.panel2{
    display: inline-block;
    width:547px;
    /* background-color: black; */
}

.newProjectsTitle{
    font-family: 'Untitled Serif';
    font-size: 26px; /* SKETCH */
    font-weight: 500;
    letter-spacing: .26px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: white;

    margin-top: 56px;
}

.newProjectsBody{
    font-family: 'Untitled Sans';
    font-size: 14px; /* SKETCH */
    letter-spacing: 0.01px;
    line-height: 1.8575; /* SKETCH */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: #BEBEBE;

    margin-top: 10px;

    width: 520px;
}

.newContact{
    text-align: center;
    /* background-color: grey; */

    font-family: 'Migra';
    font-size: 100px; /* SKETCH */
    letter-spacing: 0.63px;
    font-weight: 200;
    font-style: italic;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: #BEBEBE;

    margin-top: 78px;
    padding-bottom: 54px;
}


/*          SECTION ----- Snap        */

.onepager-background{
    background-color: #E8EBED;
}

.onepager-header{
    margin: auto;
    margin-top: 284px;

    color: #0B113F;

    font-family: 'Sharp Grotesk';
    font-size: 120px; /* SKETCH */
    letter-spacing: 0.75px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-align: center;
}

.onepager-subheader{
    margin: auto;
    margin-top: -2px;
    margin-bottom: 277px;

    color: #C6CAD2;

    font-family: 'Untitled Sans';
    font-size: 22px; /* SKETCH */
    line-height: 1.18; /* SKETCH */
    letter-spacing: 0.01px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-align: center;
}


.onepager-slideNumber{
    margin: auto;
    margin-top: 90px;

    color: #C6CAD2;

    font-family: 'Untitled Sans';
    font-size: 18px; /* SKETCH */
    line-height: 1.44; /* SKETCH */
    letter-spacing: 0.01px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-align: center;
}

.onepager-slidePadding{
    margin: auto;
    margin-top: 26px;

    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
}

.onepager-slide{    
    height: 722px;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0px 2px 9px 0px rgba(11, 36, 53, 0.1);
}

.onepager-slide-title{    
    margin: auto;
    padding-top: 46px;

    color: #0B113F;

    font-family: 'Untitled Serif';
    font-size: 34px; /* SKETCH */
    letter-spacing: 0.34px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-align: center;
}

.onepager-slide-body{    
    margin: auto;
    padding-top: 16px;

    width: 740px;

    color: #0B113F;

    font-family: 'Untitled Sans';
    font-size: 17px; /* SKETCH */
    line-height: 1.95; /* SKETCH */
    letter-spacing: 0.1px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-align: left;
}

.onepager-videoContainer{
    margin: auto; /* Format: y, x; */
    margin-top: 40px;
    padding: 0px;
    max-width:720px;

    position: relative;
    bottom: -5px;

     text-align: center;
}

.onepager-videoContainer video{
    margin: auto;
    max-width:720px;
    
}

.onepager-videoContainer img{
    margin: auto;
    max-width:500px;

    display: inline-block;

    margin-top: 60px;
}

.onepager-footer{
    margin: auto;
    margin-top: 138px;
    margin-bottom: 200px;

    color: #0B113F;

    font-family: 'Sharp Grotesk';
    font-size: 90px; /* SKETCH */
    letter-spacing: 0.56px;
    line-height: 1.2; /* SKETCH */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-align: center;
}

.onepager-footer-contact{
    color: #6F7289;
}

.onepager-button{
    margin: auto;
    margin-top: 22px; /* Around the button */

    padding: 14px 0px; /* Around the text */
    border-radius: 1600px;

    width: 260px;

    background-color: #3577F6;

    color: white; /* THIS IS THE TEXT COLOR */
    text-align: center;
    text-decoration: none;
    font-family: 'Untitled Sans';
    font-size: 17px;
    letter-spacing: -0.1px;
    line-height: 1.94; /* SKETCH */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    display: block;

    cursor: pointer; 
}

.onepager-button a{
    text-decoration: none;
}

/*          SECTION ----- Snap Animations: Night;        */

.animate-night-bkg{
    animation-name: animateToNight-bkg;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-bkg {
  to {background-color: #0B113F}
}

.animate-night-header{
    animation-name: animateToNight-header;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-header {
  to {color: white;}
}

.animate-night-subheader{
    animation-name: animateToNight-subheader;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-subheader {
  to {color: #464B6E;}
}

.animate-night-slideNumber{
    animation-name: animateToNight-slideNumber;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-slideNumber {
  to {color: #464B6E;}
}

.animate-night-card{
    animation-name: animateToNight-card;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-card{
  to {background-color: #000422;}
}

.animate-night-textTitle{
    animation-name: animateToNight-textTitle;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-textTitle {
  to {color: white;}
}

.animate-night-textBody{
    animation-name: animateToNight-textBody;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-textBody {
  to {color: white;}
}

.animate-night-footer{
    animation-name: animateToNight-footer;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-footer {
  to {color: white;}
}

.animate-night-footerContact{
    animation-name: animateToNight-footerContact;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToNight-footerContact {
  to {color: #6F7289;}
}

/*          SECTION ----- Snap Animations: Day;        */

.animate-day-bkg{
    animation-name: animateToDay-bkg;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-bkg {
  from {background-color: #0B113F}
  to {background-color: #E8EBED}
}

.animate-day-header{
    animation-name: animateToDay-header;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-header {
  from {color: white;}
  to {color: #0B113F;}
}

.animate-day-subheader{
    animation-name: animateToDay-subheader;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-subheader {
  from {color: #464B6E;}
  to {color: #C6CAD2;}
}

.animate-day-slideNumber{
    animation-name: animateToDay-slideNumber;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-slideNumber {
  from {color: #464B6E;}
  to {color: #C6CAD2;}
}

.animate-day-card{
    animation-name: animateToDay-card;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-card{
  from {background-color: #000422;}
  to {background-color: white;}
}

.animate-day-textTitle{
    animation-name: animateToDay-textTitle;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-textTitle {
  from {color: white;}
  to {color: #0B113F;}
}

.animate-day-textBody{
    animation-name: animateToDay-textBody;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-textBody {
  from {color: white;}
  to {color: #0B113F;}
}

.animate-day-footer{
    animation-name: animateToDay-footer;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-footer {
  from {color: white;}
  to {color: #0B113F;}
}

.animate-day-footerContact{
    animation-name: animateToDay-footerContact;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToDay-footerContact {
  from {color: #6F7289;}
  to {color: #6F7289;}
}

/*          SECTION ----- Snap Animations: Snap;        */

.animate-snap-bkg{
    animation-name: animateToSnap-bkg;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-bkg {
  from {background-color: #E8EBED}
  to {background-color: #FFFC00}
}

.animate-snap-header{
    animation-name: animateToSnap-header;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-header {
  from {color: #0B113F;}
  to {color: black;}
}

.animate-snap-subheader{
    animation-name: animateToSnap-subheader;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-subheader {
    from {color: #C6CAD2;}
    to {color: black;}
}

.animate-snap-slideNumber{
    animation-name: animateToSnap-slideNumber;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-slideNumber {
  from {color: #C6CAD2;}
  to {color: black;}
}

.animate-snap-textTitle{
    animation-name: animateToSnap-textTitle;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-textTitle {
  from {color: #0B113F;}
  to {color: black;}
}

.animate-snap-textBody{
    animation-name: animateToSnap-textBody;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-textBody {
  from {color: #0B113F;}
    to {color: black;}
}

.animate-snap-footer{
    animation-name: animateToSnap-footer;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-footer {
  from {color: #0B113F;}
    to {color: black;}
}

.animate-snap-footerContact{
    animation-name: animateToSnap-footerContact;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSnap-footerContact {
  from {color: #6F7289;}
    to {color: black;}
}

/*          SECTION ----- Snap Animations: Spot;        */

.animate-spot-bkg{
    animation-name: animateToSpot-bkg;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
    animation-fill-mode: forwards;
}
@keyframes animateToSpot-bkg {
  from {background-color: #E8EBED}
  to {background-color: #1DB954}
}





/* 



SECTION ----- APPLE     



   */

.black{
    background-color: black;
}

/*          SECTION ----- Apple:Navigation        */

.navigator{
    position: fixed;
    right: 54px;
    top: 55px;

    width: 129px;
    height: 62px;

    cursor: pointer;
}

.navigator img:hover{
    filter: brightness(70%);
}

/*          SECTION ----- Apple:Bio        */

.section-bio{
    height: 100vh;
    line-height: 100vh;
    text-align: center;
}

.bio-text{
    display: inline-block;

    font-family: 'Mabry Pro';
    font-size: 16px; /* SKETCH */
    line-height: 27.2px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: white;
}

.bio-text-underline{
    text-decoration: underline;
    cursor: pointer;
}

.bio-emoji-1{
    display: inline-block;
    text-align: center;
    width: 26px;
    font-size: 16px; /* SKETCH */
}

.bio-emoji-1::after{
    content:"🧑🏽‍💻";
}

.bio-emoji-2{
    display: inline-block;
    text-align: center;
    width: 26px;
    font-size: 16px; /* SKETCH */
}

.bio-emoji-2::after{
    content:"";
    animation: cycleEmojis 1s linear infinite alternate;
}


@keyframes cycleEmojis {
  0% {
    content: "📐";
  }
  25% {
    content: "🕺";
  }
  50% {
    content: "🎨";
  }
  75% {
    content: "📹";
  }
  100% {
    content: "🔮";
  }
}

.bio-emoji-3{
    display: inline-block;
    text-align: center;
    width: 26px;
    font-size: 16px; /* SKETCH */
}

.bio-emoji-3::after{
    content:"🗽";
}

/*          SECTION ----- Apple:Video        */



.section-video{

    height: 100vh;
    text-align: center;
    position: relative;

    margin-bottom: 460px;
}

.section-video-content{
    
    position:absolute;
    display: inline-block;
    top: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
}

.section-video-content video{
    width: 76vw;
    height: auto;
    
    background: green;
    animation: none;

    margin-bottom: 0px;
    margin-top: 0px;
}

.video-caption{
    padding-bottom: 20px;
    width: 800px;
    display: inline-block;

    font-family: 'Mabry Pro';
    font-size: 17px; /* SKETCH */
    line-height: 27.2px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: white;
}

#rapMedia{

}

@media only screen and (max-width: 740px) {
    .video-caption{
        width: 400px;
    }
    #rapMedia{
        width:500px;
    }
}



/*          SECTION ----- Apple:Case studies        */

.section-case{

    height: 100vh;

    text-align: center;
    position: relative;

    margin-bottom: 460px;
}

.section-case-content{
    
    position:absolute;
    display: inline-block;
    top: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;

}

.case-caption{
    padding-bottom: 42px;
    width: 800px;
    display: inline-block;


    font-family: 'Mabry Pro';
    font-size: 16px; /* SKETCH */
    line-height: 27.2px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: white;
}

.case-split{
    width: 1200px;

    font-family: 'Untitled Sans';
    font-size: 12.8px; /* SKETCH */
    line-height: 16px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: white;
}

.case-split img{
    width: 408px;
    height: 504px;
    opacity: 1;
}

.imageWrapper{
    background-color: none;
    padding: 0;
    margin: 0;
}

/*
.imageWrapper:hover{
    animation: shimmer 1s linear infinite alternate;
}


@keyframes shimmer {
  0% {
    background-color: white;
  }
  100% {
    background-color: grey;
  }
}
*/

.case-description{
    margin-top: 4px;
}

.timeline{
    font-family: 'Untitled Sans';
    font-size: 11.2px; /* SKETCH */
    color: #9A9A9A;
    font-style: italic;
}

.case-split-column1{
    max-width: 600px;
    display: inline-block;
    margin-right: 68px;
    text-align: left;
    transition: .25s;
    cursor: not-allowed;
}

/*
.case-split-column1:hover{
    transform: scale(1.01, 1.01);
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}
*/

.case-split-column2{
    max-width: 600px;
    display: inline-block;
    margin-left: 68px;
    text-align: left;

    transition: .25s;

    cursor: not-allowed;
}


@media only screen and (max-width: 1200px) {

    .section-case{
        height: 1460px;
    }

    .case-caption{
        width:780px;
    }

    .case-split{
        width: 800px;
    }

    .case-split-column1{
        max-width: 600px;
        margin-right: 0px;
        margin-bottom: 100px;
    }

    .case-split-column2{
        max-width: 600px;
        margin-left: 0px;
        
    }
}

@media only screen and (max-width: 1100px) {
    .navigator{
        right: 18px;
        top: 10px;

        width: 129px;
        height: 62px;
    }

}

@media only screen and (max-width: 810px) {

    .section-case{
        height: 1460px;
    }

    .case-split{
        width: 600px;
    }

    .case-caption{
        width:600px;
    }

    .navigator{
        right: 18px;
        top: 10px;

        width: 129px;
        height: 62px;
    }
}

@media only screen and (max-width: 580px) {

    .section-case{
        height: 1500px;
    }

    .case-split{
        width: 500px;
    }

    .case-caption{
        width:480px;
    }
}

/*          SECTION ----- Email        */

.section-email{
    height: 100vh;
    line-height: 100vh;
    text-align: center;

}

.email-text{
    display: inline-block;

    font-family: 'Mabry Pro';
    font-size: 16px; /* SKETCH */
    line-height: 27.2px;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    color: white;
}



