body{
	margin: 0;
	background-color: black;
}


#movingBlock{
	background-color: white;
	margin: 0;
	width: 200px;
	height: 200px;
	border-radius: 0px;

	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	top: 200px;
	left: 100px;
}
