
/* ----------------------- fonts ----------------------- */

@font-face {
    font-family: 'Helvetica Neue';
    src: url('font/HelveticaNeue.woff2') format('woff2'),
        url('font/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde LT Book';
    src: url('font/AvantGardeLT-Demi.woff2') format('woff2'),
        url('font/AvantGardeLT-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GalaxieCopernicus-Book';
    src: url('font/GalaxieCopernicus-Book.woff2') format('woff2'),
        url('font/GalaxieCopernicus-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GalaxieCopernicus-BookItalic';
    src: url('font/GalaxieCopernicus-BookItalic.woff2') format('woff2'),
        url('font/GalaxieCopernicus-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('font/AcuminPro-Regular.woff2') format('woff2'),
        url('font/AcuminPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('font/AcuminPro-Bold.woff2') format('woff2'),
        url('font/AcuminPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('font/LucidaGrande.woff2') format('woff2'),
        url('font/LucidaGrande.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zapf Dingbats';
    src: url('font/ZapfDingbatsITC.woff2') format('woff2'),
        url('font/ZapfDingbatsITC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* ----------------------- basics ----------------------- */

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	color: black;
	background-color: #F9F9F9;
}

a{
	color:black;
	text-decoration: none;
}

/* ----------------------- spacers ----------------------- */


.space-14px{
	display: block;
	margin: 0 auto;
	height: 12px;
}

.space-14px:after {
  content: "";
  display: table;
  clear: both;
}

.space-18px{
	display: block;
	margin: 0 auto;
	height: 18px;
}

.space-18px:after {
  content: "";
  display: table;
  clear: both;
}

.space-28px{
	display: block;
	margin: 0 auto;
	height: 28px;
}

.space-28px:after {
  content: "";
  display: table;
  clear: both;
}

.space-32px{
	display: block;
	margin: 0 auto;
	height: 32px;
}

.space-32px:after {
  content: "";
  display: table;
  clear: both;
}

.space-44px{
	display: block;
	margin: 0 auto;
	height: 44px;
}

.space-44px:after {
  content: "";
  display: table;
  clear: both;
}

.space-48px{
	display: block;
	margin: 0 auto;
	height: 48px;
}

.space-48px:after {
  content: "";
  display: table;
  clear: both;
}

.space-54px{
	display: block;
	margin: 0 auto;
	height: 54px;
}

.space-54px:after {
  content: "";
  display: table;
  clear: both;
}

.space-68px{
	display: block;
	margin: 0 auto;
	height: 68px;
}

.space-68px:after {
  content: "";
  display: table;
  clear: both;
}

.space-88px{
	display: block;
	margin: 0 auto;
	height: 88px;
}

.space-88px:after {
  content: "";
  display: table;
  clear: both;
}

.space-128px{
	display: block;
	margin: 0 auto;
	height: 128px;
}

.space-128px:after {
  content: "";
  display: table;
  clear: both;
}

.space-142px{
	display: block;
	margin: 0 auto;
	height: 142px;
}

.space-142px:after {
  content: "";
  display: table;
  clear: both;
}

.space-180px{
	display: block;
	margin: 0 auto;
	height: 180px;
}

.space-180px:after {
  content: "";
  display: table;
  clear: both;
}


/* ----------------------- overall containers ----------------------- */

/*
Page - 1288
Main - 1148 (70px padding)
Image - 1000 (144px padding)
Text/Quote - 800 (488px padding)
*/

.page{
	display: block;
	width: 1288px;

	margin: 0 auto;
	background-color: white;

	border: 1px solid #DFDFDF;
	outline-width: thin;

}

.main{
	display: block;
	width: 1148px;
	margin: 0 auto;
}

.pageCaseStudy{
	display: block;
	width: 1288px;

	margin: 0 auto;
	background-color: white;

	border: 1px solid #DFDFDF;
	outline-width: thin;

}


/* ----------------------- type sections (home) ----------------------- */


.appleEmoji{
	font-size: 30px;
	line-height: 40px;

}

.me{
	font-size: 54px;
	line-height: 82px;

	text-align: left;

    font-family: 'AvantGarde LT Book';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.meDescription{
	font-size: 20px;
	line-height: 42px;

	text-align: left;

    font-family: 'GalaxieCopernicus-Book';
    font-weight: 500;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	width: 676px;
}

.meDescription a{
	text-decoration: underline;
}

.meDescription a:hover{
	background-color: #FDFF00;
}

.arrow{
	font-size: 20px;
	line-height: 42px;

	text-align: left;

    font-family: 'Lucida Grande';
    font-weight: normal;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.homeSubHead{
	font-size: 12px;
	line-height: 40px;

	text-align: left;

    font-family: 'Acumin Pro';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.thumbnail{
	width: 1148px;
	height: 374px;
	background-color: white;

	border-radius: 8px;

	box-shadow: 0px 2px 16px 0px rgba(143, 146, 155, 0.3);

	transition: .3s;
}

.infoSide{
	width: 542px; /*  minused padding */
	float:left;

	height: 346px; /*  minused padding */

	padding-left: 32px;
	padding-top: 28px;

	position: relative;
}

.thumbCategory{
	color: #77787A;

	font-size: 12px;
	line-height: 12px;

	font-family: 'Acumin Pro';
	font-weight: bold;
	font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

.thumbTitle{
	font-size: 34px;
	line-height: 52px;

	text-align: left;

    font-family: 'AvantGarde LT Book';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	margin-top: 18px;
}

.bottomOfDiv{
	position: absolute;
	bottom: 32px;

	font-size: 20px;
	line-height: 22px;

	text-align: left;

    font-family: 'GalaxieCopernicus-Book';
    font-weight: 500;
    font-style: normal;

    text-decoration: underline;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

.picSide{
	float:left;
	width: 574px;
	height: 374px;
}

.picSide img{
	width: 574px;
	height: 374px;
	object-fit: cover;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.thumbnail:hover {
	box-shadow: 0px 2px 20px 0px rgba(143, 146, 155, 0.48);
}

.thumbnail:hover .bottomOfDiv{
	background-color: #FDFF00;
}


/* ----------------------- type sections (home) ----------------------- */

.blackColor{
	display: block;
	text-align: left;
    margin: 0 auto;
    width: 100%;

	background-color: #202124;
}

.blackMainSection{
	display: block;
	width: 1148px;

	margin: 0 auto;
}

.projectTitle{
	font-size: 60px;
	line-height: 82px;

	text-align: left;

	color: white;

    font-family: 'AvantGarde LT Book';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.main-textBlock{
	display: block;
	width: 800px;
	margin: 0 auto;
}

.project-h1{
	font-size: 48px;
	line-height: 68px;

	text-align: left;

    font-family: 'AvantGarde LT Book';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.project-text{
	font-size: 48px;
	line-height: 68px;

	text-align: left;

    font-family: 'AvantGarde LT Book';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.project-tableOfContents{
	font-size: 20px;
	line-height: 48px;

    font-family: 'GalaxieCopernicus-Book';
    font-weight: 500;
    font-style: normal;

	text-align: left;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	display:inline-block;
}

.project-tableOfContents a{
	text-decoration: underline;
}

.project-tableOfContents a:hover{
	background-color: #FDFF00;
}

.project-tableOfContents .indent{
	text-indent: 56px;
	display: inline-block;
}

.project-h2{
	font-size: 24px;
	line-height: 44px;

	text-align: left;

    font-family: 'Acumin Pro';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.project-body{
	font-size: 20px;
	line-height: 40px;

	text-align: left;

    font-family: 'GalaxieCopernicus-Book';
    font-weight: 500;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.project-body a{
	text-decoration: underline;
}

.project-body a:hover{
	background-color: #FDFF00;
}

.project-ending{
	font-size: 34px;
	line-height: 68px;

	text-align: center;

    font-family: 'GalaxieCopernicus-BookItalic';
    font-weight: normal;
    font-style: italic;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.project-ending a{
	text-decoration: underline;
}

.project-ending a:hover{
	background-color: #FDFF00;
}


.main-imageBlock{
	display: block;
	width: 1000px;
	margin: 0 auto;
}

.main-imageBlock img{
	width: 1000px;
	object-fit: cover;
	margin: 0 auto;
}

.photoCaption{
	font-size: 16px;
	line-height: 22px;

	color: #A6A6A6;

	text-align: center;

    font-family: 'Acumin Pro';
    font-weight: normal;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.inLineList{
	width: 700px;

	margin: 0 auto;

	font-size: 20px;
	line-height: 52px;

	text-align: left;

    font-family: 'GalaxieCopernicus-Book';
    font-weight: 500;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.bulletPoints{
	display: inline-block;

	padding-right: 6px;

	font-size: 20px;
	line-height: 52px;

    font-family: 'Zapf Dingbats';
    font-weight: normal;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.project-h3{
	font-size: 20px;
	line-height: 38px;

	text-align: left;

    font-family: 'GalaxieCopernicus-BookItalic';
    font-weight: normal;
    font-style: italic;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.deliverableContainer{
	display: block;
	margin: 0 auto;

	width: 520px;

	background-color: white;

	border-radius: 8px;
	box-shadow: 0px 2px 16px 0px rgba(143, 146, 155, 0.3);

	border-top: 3px solid #266EF1;

	transition: .3s;
}

.deliverableType{
	margin-top: 42px;
	margin-left: 32px;

	color: #77787A;

	font-size: 12px;
	line-height: 12px;

	font-family: 'Acumin Pro';
	font-weight: bold;
	font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

.deliverableTitle{
	margin-top: 18px;
	margin-left: 32px;
	margin-right: 32px;

	color: #202124;

	font-size: 34px;
	line-height: 52px;

    font-family: 'AvantGarde LT Book';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

.deliverableContents{
	margin-top: 36px;
	margin-left: 32px;
	margin-right: 32px;

	color: #202124;

	font-size: 16px;
	line-height: 22px;

    font-family: 'GalaxieCopernicus-Book';
    font-weight: 500;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


.deliverableContents a:hover{
	background-color: #FDFF00;
}

.deliverableContents a{
	text-decoration: underline;
}

.deliverableArrow{
	font-size: 16px;
	line-height: 22px;

	text-align: left;

    font-family: 'Lucida Grande';
    font-weight: normal;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.deliverableButton{
	font-size: 16px;
	line-height: 20px;

	margin-top: 54px;
	padding-top: 28px;
	padding-bottom: 28px;

	text-align: center;

	background-color: #266EF1;
	color: white;

	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

    font-family: 'AvantGarde LT Book';
    font-weight: bold;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	transition: .3s;
}

.deliverablButtonArrow{
    font-family: 'Lucida Grande';
    font-weight: normal;
    font-style: normal;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.deliverableButton:hover{
	background-color: #074FD0;
}

.deliverableButton:hover .deliverableContainer{
	box-shadow: 0px 2px 20px 0px rgba(143, 146, 155, 0.48);
}

.appleEmojiEnding{
	font-size: 30px;
	line-height: 40px;

	text-align: center;

}
